@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap');
body{
  font-family: 'Open Sans',
  sans-serif;
  padding: 30px 15px;
  margin-right: auto;
  margin-left: auto;
}
a{
  text-decoration: none;
  color: #000;
}
@media (min-width: 768px) {
  body {
    width: 750px;
  }
}

@media (min-width: 992px) {
  body {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1170px;
  }
}
*{
box-sizing:border-box
}